<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сайт с карточкой</title>
    <link rel="stylesheet" href="style_card.css">
</head>
<body>

<div class="card">
    <div class="photo">
        <img src="1647635065_10-amiel-club-p-kartinki-elfa-10.jpg" height="150px">
    </div>

    <div class="info">
        <h1>Боец</h1>
        <p>Эльф (мн.: эльфы) - это тип гуманоидного сверхъестественного существа в германском
            фольклоре. Эльфы особенно часто появляются в северогерманской мифологии,
            упоминаясь в Исландской поэтической Эдде и прозаической Эдде.</p>

    </div>
</div>


</body>
</html>